<div class="wrapper">
    <div class="welcome-note">
        <h2>Welcome User...!</h2>
        <small>Start Writting Moview Reviews.</small>
    </div>
    <div class="separator">
        <span></span>
        <span class="name">Recent Reviewed Movies</span>
        <span></span>
    </div>
    <!-- <div class="search-item">
        <input type="text" placeholder="Search Movie Here">
        <button>search</button>
    </div> -->
    <div class="movie-catalogs">
        <div class="movie-card" >
            <div class="card-header">
                <div class="card-logo">
                    <img src="../../../assets/images/faceoff_rrr.jpeg" alt="Movie-Image">
                </div>
                <div class="card-title">
                    <h3>R R R</h3>
                </div>
            </div>
            <div class="movie-des">
                <ul>
                    <li><span>Category :</span> Action & Drama</li>
                    <li><span>Cast&Crew :</span> NTR, Ramcharan, Rajamouli</li>
                    <li><span>Rating :</span> 4.5/5</li>
                    <li><span>Verdict :</span> Blockbuster</li>
                </ul>
            </div>
            <div class="actions">
                <span class="delete-icon" matTooltip="Delete" matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                </span>
                <span class="edit-icon" matTooltip="Edit" matTooltipPosition="above">
                    <mat-icon>edit</mat-icon>
                </span>
            </div>
        </div>
    </div>

    <div class="movie-slider">
        <p>Latest movies</p>
       <div class="slider">
        <div class="img-slider">
            <span class="prev" (click)="prevImage($event)" *ngIf="isFirstImg" matTooltip="previous"> < </span>
            <span class="next" (click)="nextImage($event)" *ngIf="!isLastImg" matTooltip="next"> > </span>
            
             <img [src]="imgURL" alt="Movie Logo">
             <div class="display-item">
                <ul>
                    <li *ngFor="let obj of imgList;index as i" [ngClass]="index===i ? 'active': ''" ></li>
                    
                </ul>
            </div>
        </div>
       </div>
        

    </div>
    <div class="walk-notes">
        <div class="note-des">
            <div class="note">
                <h2>Rey, What are you doing ?</h2>
                <p>Pora howlee.. I am busy in wrting reviews </p>
                <small>Now onwards use this app to store your valuable thoughts and review ideas, go ahead hit <b>My Review </b> start writting review for your favourate movie.
                
                you can also search or find a movie from here also. What are you waiting for ? </small>
            </div>
            <div class="logo">
                <img src="../../../assets/images/movie_content_watch.png" alt="">
            </div>
            

        </div>
    </div>
</div>