<div class="movie-catalogs">
    <div class="movie-card" *ngFor="let obj of movieDetails">
        <div class="card-header">
            <div class="card-logo">
                <img src="../../../assets/images/faceoff_rrr.jpeg" alt="Movie-Image">
            </div>
            <div class="card-title">
                <h3>R R R</h3>
            </div>
        </div>
        <div class="movie-des">
            <ul>
                <li><span>Category :</span> Action & Drama</li>
                <li><span>Cast&Crew :</span> NTR, Ramcharan, Rajamouli</li>
                <li><span>Rating :</span> 4.5/5</li>
                <li><span>Verdict :</span> Blockbuster</li>
            </ul>
        </div>
        <div class="actions">
            <span class="delete-icon" matTooltip="Delete" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
            </span>
            <span class="edit-icon" matTooltip="Edit" matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
            </span>
        </div>
    </div>
</div>