.movie-catalogs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 2em;
    margin-top: 1em;
  
    .movie-card{
        cursor: pointer;;
        width: 300px;
        border: 1.2px solid #eeee;
        border-radius: 8px;
        box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
        transition: all .5s ease-in-out;
        .card-header{
            .card-logo{
                img{
                    width: 100%;
                    border-radius: 8px;

                }
            }
            .card-title{
                margin: 0 .5em;
                border-bottom: 1px solid #222;
            }
        }
        .movie-des{
            padding: 5px;
            font-size: .8em;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    span{
                        padding-right: 5px;
                        color: #686060dd;
                    }
                }
            }
        }
        .actions{
            margin: .5em;
            display: flex;
            flex-direction: row-reverse;
            gap: 1em;
            span{
                padding: 2px 5px;
                border-radius: 50%;
                border: 1px solid #222;
                .mat-icon{
                    padding-top:2px;
                    margin: 0;
                }

            }
            .delete-icon{
                border: none;
                background-color: red;
                color: #ffff;
            }
            .edit-icon{
                border: none;
                background-color: #eeee;
            }
        }
        
    }
    .movie-card:hover{
        box-shadow: 0 0 10px 0 rgba(0 0 0/20%);
        transform: translateY(-10px);
    }
}