<div class="movie-catalogs">
    <div class="movie-card" *ngFor="let obj of movieDetails">
        <div class="card-header">
            <div class="card-logo">
                <img src="../../../assets/images/faceoff_rrr.jpeg" alt="Movie-Image">
            </div>
            <div class="card-title">
                <h3>{{obj?.movieName}}</h3>
            </div>
        </div>
        <div class="movie-des">
            <ul>
                <li><span>Language :</span> {{obj?.language}}</li>
                <li><span>Category :</span> Action & Drama</li>
                <li><span>Cast&Crew :</span> &nbsp; <span class="castCrew" *ngFor="let cast of obj?.castCrew">{{cast+", "}}</span></li>
                <li><span>Verdict :</span> {{obj?.verdict}}</li>
                <li><span>Rating :</span> {{obj?.rating}}/5 
                    <span>
                    <mat-icon>star</mat-icon>
                    </span>
                </li>
                
            </ul>
        </div>
        <div class="actions">
            <span class="delete-icon"   (click)="delete($event,obj)">
                <mat-icon>delete</mat-icon>
            </span>
            <!-- <span class="edit-icon" matTooltip="Edit" matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
            </span> -->
        </div>
    </div>
</div>

<div class="delete-popup" [ngClass]="isDeleteClicked ? 'active':''">
    <div class="popup">
        <app-popup (deletePopup)="deleteEvent($event)"></app-popup>
    </div>
</div>