.wrapper{
    margin: 2em;

    .landing-title{
        border-bottom: 1.2px solid #222;
        display: flex;
        gap: 1em;
        // padding-bottom: 1px;
        p{
            font-size: 1.2em;
            font-weight: 600;
            color: #222;
        }
        button{
            font-size: 1em;
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 15px;
        }
        button:hover{
            background-color: #222;
            color: #ffff;
        }
        

    }
}